@import './variables';
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
}
// ::-webkit-scrollbar {
//     width: 5px;
// }
// ::-webkit-scrollbar-track {
//     background: $Light-gray;
// }
// ::-webkit-scrollbar-thumb {
//     background: $Dark-gray;
// }
body {
    background: $Light-gray;
}
button {
    cursor: pointer;
}
.cyan-button {
    border: none;
    background: $Moderate-cyan;
    color: white;
    padding: 1.13em 2.5em;
    border-radius: 3.13rem;
    font-weight: 700;
    &:hover {
        background: $Dark-cyan;
    }
    &:disabled {
        background: $Dark-gray;
    }
}
p {
    margin: 1.5rem 0;
    line-height: 1.5;
}
p, .description, .status-description {
    color: $Dark-gray;
}
.description {
    line-height: 1.5;
    margin: 1.25rem 0;
}
.status-description {
    margin: .5rem 0;
}
.wide-container {
    margin: 0 auto;
    width: 88%;
    max-width: 45.63rem;
    position: relative;
}