@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Commissioner', sans-serif;
}

body {
  background: #f2f2f2;
}

button {
  cursor: pointer;
}

.cyan-button {
  border: none;
  background: #3cb4ac;
  color: white;
  padding: 1.13em 2.5em;
  border-radius: 3.13rem;
  font-weight: 700;
}

p {
  margin: 1.5rem 0;
  line-height: 1.5;
}

p, .description, .status-description {
  color: #7a7a7a;
}

.description {
  line-height: 1.5;
  margin: 1.25rem 0;
}

.status-description {
  margin: .5rem 0;
}

.wide-container {
  margin: 0 auto;
  width: 88%;
  max-width: 45.63rem;
  position: relative;
}

header {
  padding: 2rem 0;
  position: absolute;
  width: 100%;
}

header .header-container {
  width: 88%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .header-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container nav .hamburger {
  border: none;
  background: url(/assets/images/icon-hamburger.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 1rem;
  width: 1rem;
  z-index: 2;
  outline: none;
}

header .header-container nav .open {
  background: url(/assets/images/icon-close-menu.svg) no-repeat;
}

header .header-container nav .show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.hero {
  background: url(/assets/images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 19rem;
  -webkit-box-shadow: inset 0 11.25rem 5rem -6.25rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 11.25rem 5rem -6.25rem rgba(0, 0, 0, 0.5);
}

.nav-menu {
  position: absolute;
  background: white;
  list-style: none;
  left: 0;
  top: 3.5rem;
  width: 100%;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 6.25rem 10rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6.25rem 10rem rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.nav-menu li {
  border-bottom: 1px solid #f2f2f2;
}

.nav-menu li:last-of-type {
  border-bottom: none;
}

.nav-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.06rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding: 1.5em;
}

.mobile-nav-index {
  z-index: 2;
}

.main-wrapper .container {
  position: absolute;
  margin-top: -3.66rem;
}

.main-wrapper .container section {
  background: white;
  border-radius: .5rem;
}

.main-wrapper .container section .section-padding {
  padding: 2.5rem 1.5rem;
}

.main-wrapper .container section .section-padding h2 {
  font-size: 1.25rem;
}

.main-wrapper .container section .section-padding .product-list-wrapper ul {
  list-style: none;
}

.main-wrapper .container section .section-padding .product-list-wrapper ul .product-container {
  border: 1px solid #dcdada;
  border-radius: .5rem;
}

.main-wrapper .container section .section-padding .product-list-wrapper ul .product-container--padding {
  padding: 1.25rem 1.5rem;
}

.main-wrapper .container section .section-margin {
  margin: 1.75rem 0;
}

.main-wrapper .container section .heading-section {
  text-align: center;
  padding-top: 3rem;
}

.main-wrapper .container section .heading-section img {
  position: absolute;
  top: -1.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-wrapper .container section .heading-section h1 {
  font-size: 1.25rem;
  padding: 0 1rem;
}

.main-wrapper .container section .heading-section .heading-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .container section .heading-section .heading-cta .heading-cta-button {
  font-size: 1rem;
}

.main-wrapper .container section .heading-section .heading-cta .heading-cta-button--margin {
  margin-right: .5rem;
}

.main-wrapper .container section .heading-section .heading-cta .heading-cta-button-bookmark--mobile {
  background-color: transparent;
  background-image: url(/assets/images/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: initial;
  height: 3.5rem;
  width: 3.5rem;
}

.main-wrapper .container section .heading-section .heading-cta .heading-cta-button-bookmark--desktop {
  display: none;
  background: #f2f2f2;
  color: #7a7a7a;
  position: relative;
  padding-left: 4.5em;
}

.main-wrapper .container section .heading-section .heading-cta .heading-cta-button-bookmark--desktop .bookmark-icon {
  position: absolute;
  background-image: url(/assets/images/icon-bookmark.svg);
  height: 3.5rem;
  width: 3.5rem;
  top: 0;
  left: 0;
}

.main-wrapper .container .status-wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .container .status-wrapper .status-container--margin-bottom {
  margin-bottom: 1rem;
}

.main-wrapper .container .status-wrapper .status-container--margin {
  margin: 1rem 0;
}

.main-wrapper .container .status-wrapper .status-container--margin-top {
  margin: 1rem 0;
}

.main-wrapper .container .status-wrapper hr {
  width: 5rem;
  background: #dcdada;
  border: none;
  height: 1px;
}

.main-wrapper .container .status-wrapper .status {
  font-weight: 700;
  font-size: 2rem;
}

.main-wrapper .container .progress {
  background-color: #f2f2f2;
  border-radius: 3.13rem;
  height: .75rem;
  width: 100%;
}

.main-wrapper .container .progress .progress-bar {
  background-color: #3cb4ac;
  border-radius: 3.13rem;
  height: 100%;
  width: 75%;
}

@media screen and (max-width: 365px) {
  .heading-cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heading-cta .heading-cta-button--margin {
    padding: 1.13em 1em;
    margin-right: initial !important;
    margin-bottom: .5rem;
    width: 100%;
  }
  .heading-cta .heading-cta-button-bookmark--mobile {
    display: none;
  }
  .heading-cta .heading-cta-button-bookmark--desktop {
    display: initial !important;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */